{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Sign in</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Post Content -->
{% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="signin" class="form-sigin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <!-- Username input-->
  <div class="form-group">
      {{ form.username.label_tag }}             {{ form.username }}             </div>
    </div>

    <!-- Password input-->
  <div class="form-group">
        {{ form.password.label_tag }}             {{ form.password }}             <span class="field-error">
          {{ form.non_field_errors|striptags }}             </span>
      </div>

      <br>

      <!-- Sign in Button -->
      <div class="row">
          <input type="hidden" name="next" value="{{next }}">             <button id="signin" name="signin" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
          <hr>
          <center>
            Or <a href="{% url 'sign_up' %}"><u>sign up</u></a>
            if you don't have any account.
          </center>
        </div>
      </div>
  </form>
    <hr>

{% endblock content %}
