{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<header class="page-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Sign Up Form -->
{% block content %}
<center>
        Successfully signed up. Do you want to log in?<br><br>
        <a href="{% url 'login' %}">Log In</a>
        </center>
<hr> {% endblock content %}
