{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Sign Up Form -->
{% block content %}
<form id="signup" method="POST" action="{% url 'sign_up' %}">
    {% csrf_token %} {{ userform.as_p }}
    <button type="submit" class="btn btn-default">Signup</button>
 </form>
      </a><hr> {% endblock content %}
