{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/safeland.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro-message">
                    <h1>About toolbox</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %} {% block content %}
<!-- About -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p> There will be brief introduction about this portal + KLIMA2050 and SAFELAND</p>
            <p>See more details about KLIMA2050 from this <a href="http://www.klima2050.no/"> link</a>
                <p>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small></small>
            </h1>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
        <h3>Marco Uzielli
          <small>Researcher</small>
        </h3>
        <p>Research interests + link to e-mail</p>
      </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
      <h3>Jung Chan Choi
        <small>Researcher</small>
      </h3>
      <p>Research interests + link to e-mail</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
      <h3>Bjørn G. Kalsnes
        <small>Researcher</small>
      </h3>
      <p>Research interests + link to e-mail</p>
    </div>
  </div>
</div>

{% endblock content %}
