{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/safeland.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro-message">
                    <h1>About toolbox</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %} {% block content %}
<!-- About -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p class="lead"> In the EC FP7 landslide risk project SafeLand, a work package on risk management included an activity identifying cost-effective structural and non-structural landslide risk mitigation options.
              The activity also included development of a web-based "toolbox" of innovative and technically appropriate prevention and mitigation measures, based on technology, experience and expert judgment in Europe and abroad.
              The toolbox's aim was to document structural, non-structural, including risk-transfer, measures applicable to all countries in Europe. The SafeLand toolbox included technical specifications or policy prescriptions (how to), document, with hindsight, the experience and effectiveness of the approach (do's and don'ts), and estimated the costs, benefits, hazards and vulnerability associated with each measure, including uncertainties.
              <p>
              <p class="lead"> Klima 2050 is a Centre for Research-based Innovation (CRI) funded by the Norwegian Research Council (NRC) and public and private partners, with the aim of reducing the societal risks associated with climate change and enhanced precipitation and flood water exposure within the built environment.
                  Producing innovative measures for prevention of water-triggered landslides, are one of the activities in the center.
                  The Norwegian Geotechnical Institute, as coordinator of SafeLand project and main responsible for the SafeLand toolbox, as well as responsible for the Klima 2050 landslide work package,
                  saw the potential for further development of the mitigation toolbox.
                  A main activity in the Klima 2050 landslide work package has therefore since its start in 2015 been to develop the applications of the toolbox,
                  by use of new software and validation methodology, in order to make the toolbox both more user-friendly and effective in serving its purpose.</p>
            <p class="lead">See more details about KLIMA2050 from this <a href="http://www.klima2050.no/"> link</a>
                <p>
        </div>
    </div>
</div>

<!-- Contact -->
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small></small>
            </h1>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
        <h3>Marco Uzielli
          <small>Researcher</small>
        </h3>
        <p>Research interests + link to e-mail</p>
      </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
      <h3>Jung Chan Choi
        <small>Researcher</small>
      </h3>
      <p>Research interests + link to e-mail</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200"></img>
      <h3>Bjørn G. Kalsnes
        <small>Researcher</small>
      </h3>
      <p>Research interests + link to e-mail</p>
    </div>
  </div>
</div> -->

{% endblock content %}
