{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<header class="modal-header bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Add constraints in decision</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Post Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form method="POST" class="form lead">{% csrf_token %} {% for field in form %}
                    <div class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-block">{{ field.help_text }} </p>
                        </div>
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-default">Submit and show results</button>
                </form>
            </div>
        </div>
    </div>
</article>

<hr> {% endblock content %}
