{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/AHPHierarchy3.0.png' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 style ="color: black">AHP Survey</h1>
                    <hr class="small">
                    <span class="subheading">What is the safeland toolbox</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %} {% block content %}
<!-- About -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p> This survey is to update a scores and ratings of AHP decision algorithm and provide more appropriate landslide risk mitigation measures to user </p>
            <p> Only authorized expert group can access this menu. Please contact XXXX if you have any question </p>
            <p> Now the code is under development! </a>
                <p>
        </div>
    </div>
</div>

{% endblock content %}
