{% extends 'blog/base.html'%} {% load staticfiles %} {% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="section-heading">
                    <h1>{{measure.title}}</h1>
                    <span class="meta">Category: {{measure.category_description}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Post Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h3>Description</h3>
              <p class = "lead"> {{measure.description_text|linebreaksbr }}<br /> </p>
              <h3>Design</h3>
              <p class = "lead"> {{measure.design_text|linebreaksbr }} <br /></p>
              <h3>Reference</h3>
              <p class = "lead"> {{measure.reference|linebreaksbr }}<br /> </p>
              <ul class="pager">
                  <li class="previous">
                            <a href="{{request.META.HTTP_REFERER}}">Previous page  </a>
                </li>
            </ul>
            </div>

        </div>


    </div>
</article>


<hr>
{% endblock content %}
