{% extends 'blog/base.html'%}
{% load staticfiles %}
{% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Report new slide</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Post Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
              <form method="POST" class="lead">{% csrf_token %}
                  {{ form.media }}
                  {{ form.as_p }}
                  <button type="submit" class="save btn btn-default">Save</button>
              </form>
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock content %}
