{% extends 'blog/base.html'%} {% load staticfiles %} {% load render_table from django_tables2 %} {% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/steinsprang_Laerdal.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="section-heading">
                    <h1>Structural mitigation measure(s) </h1>
                    <h2>suggested for {{post.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

<!-- Post Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% render_table table %}
            </div>
        </div>
        <a href="{% url 'add_constraints' pk=post.pk %}">
            <button type="submit" class="btn btn-default">Edit constraints in decision making
            </button>
        </a>
        <a href="{% url 'post_detail' pk=post.pk %}">
            <button type="submit" class="btn btn-default">Go to case details
            </button>
        </a>
    </div>
</article>

<hr> {% endblock content %}
